@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Purple Onion</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template 
    <link href="css/business-frontpage.css" rel="stylesheet">-->
</head>
<body>

    <!-- Header with Background Image -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-3 text-center text-white mt-4">
                        <img class="card" src="~/images/poLogo.jpg" />
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="mt-4">About Us</h2>
                <p>The Purple Onion is a super hip,  locally owned grocery store inside Capitol Market. We carry everything from fresh, WV grown produce to bulk Amish foods. We also have many unique specialty items that you won't find at other chain grocery stores. We also make fresh salads, soups and lunches daily! So feel free to stop in and see what our daily special is, we know you won't be disappointed! If you're in the need for a special gift we can also make custom gift baskets and we ship anywhere in the world! </p>
                <h3>What You Can Experience</h3>
                <p>At The Purple Onion you will expereince friendly, helpful staff and a wide varitey of foods to enjoy!! Our lunch specials will hit the spot and you're sure to find a nice spot to sit and enjoy your meal inside Capitol Market! You can find our weekly lunch specials on our facebook page, so head on over there and check them out!</p>
                <p>
                    <a style="background-color: #a056ad; border-color:darkgreen" class="btn btn-primary btn-sm" href="https://www.facebook.com/ThePurpleOnionFreshMarket/">Our Facebook Page &raquo;</a>
                    <div>
                    </div>
                </p>
                <div></div>
            </div>
            <div class="col-sm-4">
                <h2 class="mt-4">Come on in!</h2>
                <address>
                    <strong>Or contact us at:</strong>
                    <br>800 Smith Street
                    <br>Charleston, WV 25301
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>
                    (304) 342-4414
                    <br>
                    <abbr title="Email">E:</abbr>
                    <a href="mailto:#">purpleonionco@aol.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/produce.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">View Our Inventory</h4>
                        <p class="card-text">We have a large inventory of locally grown and created goods, click here to check them out!</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Index", "Inventories")" style="background-color: #a056ad; border-color:darkgreen" class="btn btn-primary">View Inventory</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/straw.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Place An Online Order</h4>
                        <p class="card-text">Click below to place an online order that can be picked up in-store on your own time! Keep in mind our hours are:
                        <div>9:00AM-6:00PM Monday through Saturday</div>
                        <div>12:00PM-5:00PM on Sundays</div>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("New", "Orders")" style="background-color: #a056ad; border-color:darkgreen" class="btn btn-primary">Place Order</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/CapitolMarketLogo.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Check out our neighbors</h4>
                        <p class="card-text">We aren't the only local market in the Capitol Market, go check out some of our friends at the Capitol Market's website!</p>
                    </div>
                    <div class="card-footer">
                        <a href="http://www.capitolmarket.net/" style="background-color: #a056ad; border-color:darkgreen" class="btn btn-primary">Go To Their Site</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>











<p>
    @Html.ActionLink("Place Order", "New", "Orders", new { area = "" }, null)
    <div></div>
    @Html.ActionLink("View Inventory", "Index", "Inventories", new { area = "" }, null)
</p>
<p>
    @if(User.IsInRole("Admin"))
    {
        @Html.ActionLink("View Orders", "Index", "Orders", new { area = "" }, null)
        
    }
</p>