@model IEnumerable<PurpleOnion.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Purple Onion</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template
    <link href="css/business-frontpage.css" rel="stylesheet">-->
</head>
<h2>Orders</h2>
<p>
    @Html.ActionLink("Add Order", "New")
</p>
<ul>
    @foreach (var order in Model)
    {
        <li>
            @order.AccountName (@order.PickUpTime)(@order.Items)
            @Html.ActionLink("Edit", "Edit", new { id = order.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = order.Id })
        </li>
    }
</ul>
