@model IEnumerable<PurpleOnion.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Purple Onion</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template
    <link href="css/business-frontpage.css" rel="stylesheet">-->
</head>
<header>
    <img class="card" src="~/images/space.png" />
</header>
<h2>Orders</h2>
<p>
    <a href="@Url.Action("New", "Orders")" class="btn btn-default">Add Order</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items)
        </th>
        <th></th>
    </tr>

    @foreach (var order in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.PickUpTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Items)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = order.Id })
                    <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = order.Id });
                }




            </td>
        </tr>
    }

</table>
